* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #1f325a;
    font-family: 'Poppins', sans-serif;
}

.clock-container {
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 20px 40px;
    background-color: #000000cc;
    box-shadow: 0 10px 30px #0000004d;
}

.time {
    font-size: 8rem;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 150px 0px 0px 0px;
}

.date {
    color: #fff;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 10px;

}